.logo{
    max-width: 50px;
    max-height: 50px;
    margin-right: 10px;
}
.social{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.fote{
    align-self: center;
    text-align: center;
}