#navbar{
    background-color: #32329C;
}

nav ul li, .navbar-brand {
	border: 1px solid #32329C;
	color: #FDFDFF;
	font-size: 0.950em;
}
nav .navbar-brand {
	font-size: 1em;
	color: #FDFDFF;
	
}
nav ul li a:hover {
	border: 1px solid white;
	border-radius: 20px;
	color: #FDFDFF;
}

#loginbot{
    background-color: #160C71;
	color: #FDFDFF;
	font-size: 0.950em;
	border-radius: 5px;
    padding: 8px 33px;
    
}
#loginbot a:hover{
	border-radius: 0;	
    color: #FDFDFF;
    border: 1px, solid, white;
    border-color: white;
}
