#navbar{
    background-color: #32329C;
}

nav ul li, .navbar-brand {
	border: 1px solid #32329C;
	color: #FDFDFF;
	font-size: 0.950em;
}
nav .navbar-brand {
	font-size: 1em;
	color: #FDFDFF;

}
nav ul li a:hover {
	border: 1px solid white;
	border-radius: 20px;
	color: #FDFDFF;
}

#loginbot{
    background-color: #160C71;
	color: #FDFDFF;
	font-size: 0.950em;
	border-radius: 5px;
    padding: 8px 33px;

}
#loginbot a:hover{
	border-radius: 0;
    color: #FDFDFF;
    border: 1px, solid, white;
    border-color: white;
}
.logomenu{
	width: 80px;
	height: 60px;
	margin-left: -10px;
	display: inline-block;
}
.logoescrito{
	font-size:30px;
	margin-left: 10px;
	margin-top: -0px;
	display: inline-block;
	color: #32329C
}

#branco{
	height: 70px;
}

.navbar-nav .nav-item {
	background-color: white;
	border-radius: 35px;
	margin-right: 15px;
	text-align: center;

}
.navbar-nav .nav-item .nav-link,.navbar-nav .nav-item .nav-link.active{
	color:#32329C;
	font-size:20px;


}

